{% extends '../main/base.html' %} {% block content%}

<h4>Data Akun Market Instagram</h4>
<br />

<table id="data" class="table table-striped table-bordered dt-responsive " style="width:100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Label / Kategori</th>
            <th>Caption</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data%}
        <tr>
            <td>{{ item.username }}</td>
            <td style="max-width: 70px;" >{{ item.label }}</td>
            <td><pre>{{ item.caption }} </pre></td>
            <td>{{ item.link }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content%}

{% block javascript %} 

<script>
    $(document).ready(function() {
        $('#data').DataTable({
            "language": {
                "emptyTable": "<i>No Data</i>"
            },
        });
    });
</script>


{% endblock javascript%}
