<nav class="navbar navbar-expand-lg navbar-mainbg fixed-top">
    <a class="navbar-brand navbar-logo text-white" > <i class="fa fa-instagram"> </i>KLASIFIKASI AKUN ONLINE SHOP </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item {% setActiveClass name 'Home' %}">
                <a class="nav-link" href="{% url 'homeIndex' %}"><i class="fa fa-home"></i>Beranda</a>
            </li>
            <li class="nav-item {% setActiveClass name 'Data' %}">
                <a class="nav-link" href="{% url 'dataIndex' %}"><i class="fa fa-table"></i>Data Instagram</a>
            </li>
            <li class="nav-item {% setActiveClass name 'Preprocessing' %}">
                <a class="nav-link" href="{% url 'preprocessingIndex' %}"><i class="fa fa-hourglass-half"></i>Pre-Processing</a>
            </li>
            <li class="nav-item {% setActiveClass name 'Pembobotan' %}">
                <a class="nav-link" href="{% url 'pembobotanIndex' %}"><i class="fa fa-balance-scale-right"></i>Pembobotan</a>
            </li>
            <li class="nav-item {% setActiveClass name 'Klasifikasi' %}">
                <a class="nav-link" href="{% url 'klasifikasiIndex' %}"><i class="fa fa-pie-chart"></i>Klasifikasi</a>
            </li>
            <li class="nav-item {% setActiveClass name 'Prediksi' %}">
                <a class="nav-link" href="{% url 'prediksiIndex' %}"><i class="fa fa-eye"></i>Prediksi</a>
            </li>
        </ul>
    </div>
</nav>